:root {
  --green: #006600;
  --text-color: white;
  --lightgray: #f2f2f2;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Segoe UI", sans-serif;
}

a {
  color: #262626;
}

.container {
  /* max-width: 1240px; */
  margin: 0 auto;
}

.btn {
  color: black;
  text-decoration: none;
  padding: 9px 25px;
  display: inline-block;
}

.btn:hover span {
  border-bottom: 2px solid black;
}

.btn-primary {
  background: black;
  color: white;
}
.btn-primary:hover span {
  padding-bottom: 1px;
  border-bottom: 2px solid white;
}

.btn-white {
  background: white;
  padding: 8px 15px;
}

.logo {
  width: 105px;
  margin: 0 auto;
}
.logo img {
  width: 100%;
}

header {
  padding: 0.5rem;
  font-size: 0.8rem;
}

header ul {
  list-style: none;
}

.notification {
  background: var(--green);
  text-align: center;
  color: var(--text-color);
  padding: 1rem;
}

.main-nav {
  flex: 1;
  margin-left: 2rem;
  display: none;
}

.mobile-nav {
  background: #f2f2f2;
  position: absolute;
  top: 3rem;
  width: 100%;
  padding: 1rem;
}
.mobile-nav ul {
  list-style: none;
}
.mobile-nav ul li {
  padding: 0.5rem 0;
  border-bottom: 1px solid #e6e6e6 !important;
}

.right-menu {
  display: flex;
  flex-direction: row;
  position: absolute;
  top: 0;
  right: 0;
}
.right-menu a {
  list-style: none;
  padding: 0.5rem;
  display: inline-block;
  text-decoration: none;
}
.right-menu a span {
  display: none;
}

.main-nav a {
  color: black;
  text-decoration: none;
  margin-right: 2rem;
  padding: 0.5rem 0;
  display: inline-block;
  border-bottom: 2px solid transparent;
}
.main-nav a:hover {
  border-bottom: 2px solid black;
}

.showcase {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 330px;
  justify-content: flex-end;
}
.showcase-surface {
  background: #f2f2f2 url("images/RWAn4M.png") no-repeat top center/contain;
}
.showcase-xbox {
  background: #f2f2f2 url("images/RE4MEu6.png") no-repeat top center/contain;
}
.showcase-sustainability {
  color: white;
  min-height: 400px;
}
.showcase-sustainability img {
  max-width: 100%;
}

.showcase .btn {
  margin: 1rem 0;
}

.showcase-content {
  padding: 1rem;
  background: #e6e6e6;
  width: 100%;
}

.showcase-sustainability .showcase-content {
  background: #222;
  text-align: center;
  padding: 3rem 0;
}

.showcase-content h1 {
  padding-bottom: 0.5rem;
  font-size: 2rem;
  font-weight: 500;
}

.product-grid {
  display: grid;
}
.product-grid img {
  width: 100%;
}

footer {
  background: var(--lightgray);
  margin-top: 3rem;
  padding: 2rem;
}

.footer-grid {
  display: grid;
}

footer ul {
  list-style: none;
}
footer ul li a {
  text-decoration: none;
  color: #444;
  padding-top: 0.5rem;
  display: inline-block;
}

.menu-btn {
  display: inline-block;
  cursor: pointer;
  position: absolute;
  left: 1rem;
}
.menu-btn:hover {
  opacity: 0.5;
}
.menu-btn .fa-times {
  display: none;
}
.menu-btn.is-active .fa-times {
  display: block;
}
.menu-btn.is-active .fa-bars {
  display: none;
}

.hidden {
  display: none;
}

.icon-section ul li a {
  display: inline-block;
  padding: 1rem;
  text-decoration: none;
  font-size: 0.9rem;
  font-weight: bold;
}
.icon-section ul li a:hover {
  text-decoration: underline;
}

@media screen and (min-width: 520px) {
  .product-grid {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
    margin: 5rem 0;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 90%;
  }

  .showcase {
    align-items: flex-start;
    padding-left: 10%;
    justify-content: space-around;
  }

  .showcase-surface {
    min-height: 600px;
  }

  .showcase-sustainability {
    background: url("images/RWzV6z.jfif") no-repeat center center/cover;
    font-size: 1.5rem;
  }

  .showcase-sustainability img {
    display: none;
  }

  .showcase-content {
    background: none;
    max-width: 400px;
  }

  .showcase-sustainability .showcase-content {
    background: none;
    max-width: 600px;
    text-align: left;
  }

  .icon-section {
    max-width: 50%;
    margin: 3rem auto;
  }

  .icon-section ul {
    display: flex;
    justify-content: space-around;
    text-align: center;
    list-style: none;
  }

  .footer-grid {
    grid-template-columns: repeat(6, 1fr);
  }
}

@media screen and (min-width: 1024px) {
  .product-grid {
    grid-template-columns: repeat(4, 1fr);
  }

  .right-menu {
    position: static;
  }
  .right-menu a span {
    display: inline-block;
  }

  .menu-btn {
    display: none;
  }

  .main-nav {
    display: block;
  }

  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
  }

  header ul {
    display: flex;
  }
}
